<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    {% block head %}{% endblock %}
</head>

<body>
    <header>
        {% block header %}
        <nav style="background-color: white; height: 8rem;" class="z-depth-0">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="height: inherit;">
                    <img src="/images/logo_black.svg" class="hide-on-med-and-down"
                        style="height: 65px; margin: 30px 0 0 70px;">
                </a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger grey-text text-darken-4"
                    style="margin: 40px 0 0 30px;"><i style="font-size: 40px;" class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down valign-wrapper" style="height: inherit; margin-left: 18rem;">
                    <li><a class="grey-text text-darken-4 nav-link" href="/search">Poišči prevoz</a></li>
                    {% if login %}
                    <li><a class="grey-text text-darken-4 nav-link" href="/profile/orders">Ponudbe</a></li>
                    {% if provider %}
                    <li><a class="grey-text text-darken-4 nav-link" href="/profile/vehicle">Vozila</a></li>
                    {% endif%}
                    {% endif %}
                </ul>
                <ul class="right hide-on-med-and-down valign-wrapper" style="height: inherit; margin-right: 4rem;">
                    {% if login %}
                    <li><a class="grey-text text-darken-4 nav-link" href="/profile">Profil</a></li>
                    <li><a class="grey-text text-darken-4 nav-link" href="/user/logout" title="Izpis"><i
                                class="material-icons grey-text text-darken-4">exit_to_app</i></a></li>
                    {% else %}
                    <li><a class="grey-text text-darken-4 nav-link" href="/login">Prijava</a></li>
                    <li><a class="grey-text text-darken-4 nav-link" href="/register">Registracija</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <ul id="mobile-sidenav" class="sidenav">
            <li>
                <div class="user-view center-align" style="padding: 32px 0 0 0;">
                    <a href="/">
                        <img src="/images/logo_black.svg" style="height: 65px;">
                    </a>
                </div>
            </li>
            <li><a class="grey-text text-darken-4 nav-link" href="/search"><i class="material-icons">search</i>Poišči
                    prevoz</a></li>
            {% if login %}
            <li><a class="grey-text text-darken-4 nav-link" href="/profile/orders"><i
                        class="material-icons">local_post_office</i>Ponudbe</a></li>
            {% if provider %}
            <li><a class="grey-text text-darken-4 nav-link" href="/profile/vehicle"><i
                        class="material-icons">local_shipping
                    </i>Vozila</a></li>
            {% endif%}
            <li><a class="grey-text text-darken-4 nav-link" href="/profile"><i
                        class="material-icons">account_circle</i>Profil</a></li>
            <li class="bottom-sidenav"><a class="grey-text text-darken-4 nav-link" href="/user/logout"><i
                        class="material-icons">exit_to_app</i>Izpis</a></li>
            {% else %}
            <li><a class="grey-text text-darken-4 nav-link" href="/login"><i
                        class="material-icons">exit_to_app</i>Prijava</a></li>
            <li><a class="grey-text text-darken-4 nav-link" href="/register"><i
                        class="material-icons">person_add</i>Registracija</a></li>
            {% endif %}
        </ul>
        {% endblock %}
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% block footer %}
        <div class="grey lighten-2" style="margin-top: 50px;">
            <div class="container grey-text text-darken-4">
                <div class="row">
                    <div class="col l3 s12">
                        <h5>Kontakt</h5>

                        <h6>Email</h6>
                        <span class="normal-text">cargo@mail.com</span>
                        <h6>Address</h6>
                        <span class="normal-text">Slomškov trg 15, 2000 Maribor</span>
                    </div>
                    <div class="col l9 s12">
                        <h5>O nas</h5>
                        <p>
                            Spletna aplikacija carGo je lokalno razvita storitev, ustvarjena za pomoč posameznikom kot
                            malim
                            in velikim podjetjem pri prevozu ali ponujanju prevoza.
                        </p>
                        <p>
                            Je inovacija, ki postaja vedno bolj priljubljena zaradi lahkega dostopa in še lažje uporabe.
                            Nudi lastni dogovor plačila ter terminov prevoza izdelkov in polizdelkov.
                        </p>
                        <p>
                            Čeprav povezujemo veliko različnih podjetij, je varnost in zadovoljstvo na našem prvem
                            mestu.
                        </p>
                    </div>
                </div>
                <div class="footer-copyright center-align normal-text">
                    <div>Razvit z idejo, preproste in prilagodljive dostave</div>
                    <div>© 2020 carGo. All rights reserved.</div>
                </div>
            </div>
        </div>
        {% endblock %}
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascripts/main.js"></script>
    {% block javascript %}{% endblock %}
</body>

</html>
