{% extends "base.html" %}

{% block title %}Prevoz - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h4 id="podjetje"></h4>
        </div>
    </div>
    <div class="row grey lighten-2" style="border-radius: 10px;">
        <div class="col m6 s12" style="padding: 15px;">
            <img src="https://picsum.photos/700/500" class="responsive-img">
        </div>
        <div class="col m6 s12 grey lighten-3"
            style="padding: 25px 50px 25px 50px; border-radius: 10px;">
            <div class="row">
                <h5>Vozilo</h5>
                <div class="row" style="font-family: Roboto;">
                    <div class="col s4">
                        <span>Vozilo: <span id="vozilo"></span></span>
                    </div>
                    <div class="col s4">
                        <span>Letnik: <span id="letnik"></span></span>
                    </div>
                    <div class="col s4">
                        <span>Tip vozila: <span id="tip"></span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Omejitve vozila</h5>
                <div class="row" style="font-family: Roboto;">
                    <div class="col s12">
                        <ul id="omejitve"></ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h5>Tovor</h5>
                <div class="row" style="font-family: Roboto;">
                    <div id="omejitve_tovor" class="col s12"></div>
                </div>
            </div>
            <div class="row">
                <h5>Cena</h5>
                <div class="row" style="font-family: Roboto;">
                    <div class="col s4">
                        <h6>Cena na km: <span id="cena_na_km"></span>€/km</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <div class="input-field">
                        <textarea id="opombe" class="materialize-textarea"></textarea>
                        <label for="opombe">Opombe</label>
                    </div>
                    <a id="ponudba" class="waves-effect waves-light btn-large">Daj ponudbo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                    src="https://maps.google.com/maps?q=slovenia&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 100%;
                    width: 100%;
                }

                .gmap_canvas {
                    border-radius: 10px;
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 100%;
                }
            </style>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/javascripts/details.js"></script>
{% endblock %}
