{% extends "base.html" %}

{% block title %}Izbira - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row valign-wrapper" style="height: 40vh;">
        <div id="prikazIzbire">
            <h5>Vozilo</h5>
            <p id="transportName">Testno vozilo</p>
            <h5>Cena</h5>
            <p id="price">Testna cena</p>
            <h5>Uporabnik</h5>
            <p id="customerName">Testni uporabnik</p>
            <h5>Uporabnikov naslov</h5>
            <p id="customerAddress">Testna ulica</p>
        </div>

        <div id="izbiraIzvoza">
            <select name="format" id="formatChoice" style="display: inline; margin: auto;">
                <option value=""></option>
                <option value="txt">.txt</option>
                <option value="pdf">.pdf</option>
            </select>
            <br />
            <button class="waves-effect waves-light btn-large" style="font-size: 20px; width: 100%;" onclick="exportConfirmation();">Izvozi<i class="material-icons right">chevron_right</i></a>
        </div>
        <!--
        <div class="col m4 offset-m4 s12">
            <h5>Prijava</h5>
            <form id="prijava">
                <div class="input-field">
                    <input id="email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input id="geslo" type="password" class="validate">
                    <label for="geslo">Geslo</label>
                    <span class="helper-text" data-error="Email ali geslo napačno!"></span>
                </div>
                <button class="waves-effect waves-light btn" type="submit" style="width: 100%; font-family: Quicksand;">Prijava</button>
            </form>
            <p class="center-align">Še nimaš računa? Registreraj se <a href="/register">tukaj</a></p>
        </div>
        -->
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="javascripts/export.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
{% endblock %}
