{% extends "base.html" %}

{% block title %}Ponudbe - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Ponudbe</h3>
        </div>
    </div>
    <div class="row grey lighten-2 rounded">
        <div class="input-field col s12">
            <input id="search" type="text" class="autocomplete">
            <label for="search">Iskanje</label>
        </div>
        <div class="col s12 grey lighten-3 rounded">
            {% if provider %}
            <div id="ponudbe_ponudnik" style="padding-top: 15px;"></div>
            {% else %}
            <div id="ponudbe_iskalec" style="padding-top: 15px;"></div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="/javascripts/order.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
{% endblock %}
