{% extends "base.html" %}

{% block title %}Profile - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Profil uporabnika</h3>
        </div>
    </div>
    <div class="row grey lighten-2" style="border-radius: 10px;">
        <div class="input-field col s12">
            <h4>Urejanje profila</h4>
        </div>
        <div id="iskalec">
            <div class="input-field col s12">
                <input id="i_ime_uredi" type="text">
                <label for="i_ime_uredi">Ime</label>
            </div>
            <div class="input-field col s12">
                <input id="i_priimek_uredi" type="text">
                <label for="i_priimek_uredi">Priimek</label>
            </div>
            <div class="input-field col s4">
                <input id="postna_st_uredi" type="number">
                <label for="postna_st_uredi">Poštna številka</label>
            </div>
            <div class="input-field col s8">
                <input id="kraj_uredi" type="text">
                <label for="kraj_uredi">Kraj</label>
            </div>
            <div class="input-field col s8">
                <input id="ulica_uredi" type="text">
                <label for="ulica_uredi">Ulica</label>
            </div>
            <div class="input-field col s4">
                <input id="hisna_st_uredi" type="text">
                <label for="hisna_st_uredi">Hišna številka</label>
            </div>
            <div class="input-field col s12" style="margin-top: 3rem;">
                <input id="i_email_uredi" type="email" class="validate">
                <label for="i_email_uredi">Email</label>
                <span class="helper-text" data-error="Napačen format email-a ali pa je že v uporabi"></span>
            </div>
            <div class="input-field col s12">
                <input id="staro_geslo" type="password">
                <label for="staro_geslo">Staro geslo</label>
            </div>
            <div class="input-field col s12">
                <input id="i_geslo_uredi" type="password" class="validate">
                <label for="i_geslo_uredi">Novo geslo</label>
                <span class="helper-text" data-error="Geslo ne ustreza kriterijem">Geslo mora vsebovati majhne in velike črke, števila ter mora biti dolgo vsaj 6 znakov.</span>
            </div>
            <div class="input-field col s12">
                <input id="i_pgeslo_uredi" type="password">
                <label for="i_pgeslo_uredi">Ponovi geslo</label>
                <span class="helper-text" data-error="Gesli se ne ujemata"></span>
            </div>
        </div>
        {% if provider %}
        <div id="ponudnik">
            <div class="input-field col s12">
                <h4>Podjetje</h4>
            </div>
            <div class="input-field col s12" style="margin-top: 3rem;">
                <input id="naziv_podjetja_uredi" type="text" class="validate">
                <label for="naziv_podjetja_uredi">Naziv podjetja</label>
            </div>
            <div class="input-field col s12">
                <input id="davcna" type="number" class="validate">
                <label for="davcna">Davčna številka</label>
            </div>
            <div class="input-field col s12">
                <input id="zacetek_delovanja_uredi" type="text" class="datepicker">
                <label for="zacetek_delovanja_uredi">Začetek delovanja</label>
            </div>
            <div class="input-field col s12">
                <input id="uspesnost_poslovanja_uredi" type="text">
                <label for="uspesnost_poslovanja_uredi">Uspešnost poslovanja</label>
            </div>
        </div>
        {% endif %}
        <a id="edit" class="waves-effect waves-light btn" style="width: 100%;"> Uredi </a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script src="javascripts/user.js"></script>
{% endblock %}
