{% extends "base.html" %}

{% block title %}Registracija - carGo{% endblock %}

{% block head %}
<style>
    .tabs .tab a:focus.active {
        color: #26a69a;
        /*Custom Text Color While Active*/
        background-color: rgba(38, 166, 154, 0.2);
        /*Custom Background Color While Active*/
    }

    .tabs .indicator {
        background-color: #26a69a;
        /*Custom Color Of Indicator*/
    }
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col m6 offset-m3 s12">
            <h3>Registracija</h3>
            <ul class="tabs tabs-fixed-width">
                <li class="tab col s3"><a class="active grey-text text-darken-4" href="#iskalec">Iskalec</a></li>
                <li class="tab col s3"><a class="grey-text text-darken-4" href="#ponudnik">Ponudnik</a></li>
            </ul>
            <div id="iskalec">
                <div class="input-field col s12">
                    <input id="i_ime" type="text">
                    <label for="i_ime">Ime</label>
                </div>
                <div class="input-field col s12">
                    <input id="i_priimek" type="text">
                    <label for="i_priimek">Priimek</label>
                </div>
                <div class="input-field col s4">
                    <input id="i_postna_stevilka" type="number">
                    <label for="i_postna_stevilka">Poštna številka</label>
                </div>
                <div class="input-field col s8">
                    <input id="i_kraj" type="text">
                    <label for="i_kraj">Kraj</label>
                </div>
                <div class="input-field col s8">
                    <input id="i_ulica" type="text">
                    <label for="i_ulica">Ulica</label>
                </div>
                <div class="input-field col s4">
                    <input id="i_hisna_stevilka" type="text">
                    <label for="i_hisna_stevilka">Hišna številka</label>
                </div>
                <div class="input-field col s12" style="margin-top: 3rem;">
                    <input id="i_email" type="email" class="validate">
                    <label for="i_email">Email</label>
                    <span class="helper-text" data-error="Napačen format email-a ali pa je že v uporabi"></span>
                </div>
                <div class="input-field col s12">
                    <input id="i_geslo" type="password" class="validate">
                    <label for="i_geslo">Geslo</label>
                    <span class="helper-text" data-error="Geslo ne ustreza kriterijem">Geslo mora vsebovati majhne in velike črke, števila ter mora biti dolgo vsaj 6 znakov.</span>
                </div>
                <div class="input-field col s12">
                    <input id="i_pgeslo" type="password">
                    <label for="i_pgeslo">Ponovi geslo</label>
                    <span class="helper-text" data-error="Gesli se ne ujemata"></span>
                </div>
                <a id="i_registracija" class="waves-effect waves-light btn" style="width: 100%;">Registracija</a>
            </div>
            <div id="ponudnik">
                <div class="input-field col s12">
                    <input id="p_ime" type="text">
                    <label for="p_ime">Ime</label>
                </div>
                <div class="input-field col s12">
                    <input id="p_priimek" type="text">
                    <label for="p_priimek">Priimek</label>
                </div>
                <div class="input-field col s4">
                    <input id="p_postna_stevilka" type="number">
                    <label for="p_postna_stevilka">Poštna številka</label>
                </div>
                <div class="input-field col s8">
                    <input id="p_kraj" type="text">
                    <label for="p_kraj">Kraj</label>
                </div>
                <div class="input-field col s8">
                    <input id="p_ulica" type="text">
                    <label for="p_ulica">Ulica</label>
                </div>
                <div class="input-field col s4">
                    <input id="p_hisna_stevilka" type="text">
                    <label for="p_hisna_stevilka">Hišna številka</label>
                </div>
                <div class="input-field col s12" style="margin-top: 3rem;">
                    <input id="p_email" type="email" class="validate">
                    <label for="p_email">Email</label>
                    <span class="helper-text" data-error="Napačen format email-a ali pa je že v uporabi"></span>
                </div>
                <div class="input-field col s12">
                    <input id="p_geslo" type="password" class="validate">
                    <label for="p_geslo">Geslo</label>
                    <span class="helper-text" data-error="Geslo ne ustreza kriterijem">Geslo mora vsebovati majhne in velike črke, števila ter mora biti dolgo vsaj 6 znakov.</span>
                </div>
                <div class="input-field col s12">
                    <input id="p_pgeslo" type="password" class="validate">
                    <label for="p_pgeslo">Ponovi geslo</label>
                    <span class="helper-text" data-error="Gesli se ne ujemata"></span>
                </div>
                <div class="input-field col s12" style="margin-top: 3rem;">
                    <input id="naziv_podjetja" type="text" class="validate">
                    <label for="naziv_podjetja">Naziv podjetja</label>
                </div>
                <div class="input-field col s12">
                    <input id="davcna" type="number" class="validate">
                    <label for="davcna">Davcna številka</label>
                </div>
                <div class="input-field col s12">
                    <input id="zacetek_delovanja" type="text" class="datepicker">
                    <label for="zacetek_delovanja">Začetek delovanja</label>
                </div>
                <div class="input-field col s12">
                    <input id="uspesnost_poslovanja" type="text">
                    <label for="uspesnost_poslovanja">Uspešnost poslovanja</label>
                </div>
                <a id="p_registracija" class="waves-effect waves-light btn" style="width: 100%;">Registracija</a>
            </div>
            <p class="center-align">Že imaš račun? Prijavi se <a href="/login">tukaj</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.datepicker').datepicker({
            firstDay: 1,
            format: "dd.mm.yyyy",
            maxDate: new Date(),
            i18n: {
                months: ['Januar', 'Februar', 'Marec', 'April', 'Maj', 'Junij', 'Julij', 'August', 'September', 'Oktober', 'November', 'December'],
                monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                weekdays: ['Nedelja', 'Ponedeljek', 'Torek', 'Sreda', 'Četrtek', 'Petek', 'Sobota'],
                weekdaysShort: ['Ned', 'Pon', 'Tor', 'Sre', 'Čet', 'Pet', 'Sob'],
                weekdaysAbbrev: ['S', 'P', 'T', 'S', 'Č', 'P', 'S']
            }
        });
    });
</script>
<script src="/javascripts/register.js"></script>
{% endblock %}
