{% extends "base.html" %}

{% block title %}Iskanje - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <form action="#">
                <div class="col m3 offset-m2 s8 offset-s2">
                    <label>
                        <input name="group1" type="radio" checked />
                        <span>Posamezni izdelki</span>
                    </label>
                </div>
                <div class="col m3 s8 offset-s2">
                    <label>
                        <input name="group1" type="radio" />
                        <span>Razsuti tovor</span>
                    </label>
                </div>
                <div class="col m3 s8 offset-s2">
                    <label>
                        <input name="group1" type="radio" />
                        <span>Standartne palete</span>
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12">
                    <h5 style="font-weight: bold;">Naziv izdelka</h5>
                    <a href="" class="grey-text text-darken-4"><i class="right material-icons"
                            style="margin-top: -24px;">close</i></a>
                </div>
                <div class="input-field col s2 offset-s1">
                    <input id="visina" type="number" class="validate">
                    <label for="visina">Višina</label>
                </div>
                <div class="input-field col s2">
                    <input id="dolzina" type="number" class="validate">
                    <label for="dolzina">Dolžina</label>
                </div>
                <div class="input-field col s2">
                    <input id="sirina" type="number" class="validate">
                    <label for="sirina">Širina</label>
                </div>
                <div class="input-field col s2">
                    <input id="teza" type="number" class="validate">
                    <label for="teza">Teža</label>
                </div>
                <div class="input-field col s2">
                    <input id="kolicina" type="number" class="validate">
                    <label for="kolicina">Količina</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h5 style="font-weight: bold;">Naziv izdelka</h5>
                    <a href="" class="grey-text text-darken-4"><i class="right material-icons"
                            style="margin-top: -24px;">close</i></a>
                </div>
                <div class="input-field col s2 offset-s1">
                    <input id="visina" type="number" class="validate">
                    <label for="visina">Višina</label>
                </div>
                <div class="input-field col s2">
                    <input id="dolzina" type="number" class="validate">
                    <label for="dolzina">Dolžina</label>
                </div>
                <div class="input-field col s2">
                    <input id="sirina" type="number" class="validate">
                    <label for="sirina">Širina</label>
                </div>
                <div class="input-field col s2">
                    <input id="teza" type="number" class="validate">
                    <label for="teza">Teža</label>
                </div>
                <div class="input-field col s2">
                    <input id="kolicina" type="number" class="validate">
                    <label for="kolicina">Količina</label>
                </div>
            </div>
        </div>
        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn"
                style="font-weight: bold;">Dodaj izdelek</a>
        </div>
    </div>
    <div class="row">
        <hr>
    </div>
    <div class="row">
        <div class="col m5 offset-m1 s12">
            <div class="input-field col s12">
                <input id="date" type="text" class="datepicker">
                <label for="date">Datum naložitve</label>
            </div>
        </div>
        <div class="col m5 s12">
            <div class="input-field col s12">
                <input id="time" type="text" class="timepicker">
                <label for="time">Čas naložitve</label>
            </div>
        </div>
        <div class="col s12">
            <h5>Izbira poti</h5>
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=slovenia&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 100%;
                        width: 100%;
                    }

                    .gmap_canvas {
                        border-radius: 10px;
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 100%;
                    }
                </style>
            </div>
        </div>
        <div class="col s12" style="margin-top: 3rem;">
            <h6>Dodatne omejitve</h6>
            <div class="input-field col s6">
                <input id="cena" type="text" class="validate">
                <label for="cena">Maksimalna cena</label>
            </div>
            <div class="input-field col s6">
                <input id="prevoznik" type="text" class="validate">
                <label for="prevoznik">Prevoznik</label>
            </div>
            <div class="input-field col s6">
                <input id="vozilo" type="text" class="validate">
                <label for="vozilo">Letnik vozila</label>
            </div>
            <div class="input-field col s6">
                <select>
                    <option value="" disabled selected>Izberi</option>
                    <option value="1">Dostavni kombi</option>
                    <option value="2">Tovornjak za prevoz razsutega tovora</option>
                    <option value="3">Tovornjak za prevoz blaga</option>
                </select>
                <label>Tip vozila</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a href="izbira.html" class="waves-effect waves-light btn-large"
                style="font-weight: bold;">Išči
                ponudbe</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.datepicker').datepicker();
        $('.timepicker').timepicker();
    });
</script>
{% endblock %}