{% extends "base.html" %}

{% block title %}Iskanje - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="input-field col s12">
            <div class="col m3 offset-m2 s8 offset-s2">
                <label>
                    <input name="tip_tovora" value="posamezni izdelki" type="radio" checked>
                    <span>Posamezni izdelki</span>
                </label>
            </div>
            <div class="col m3 s8 offset-s2">
                <label>
                    <input name="tip_tovora" value="razsut tovor" type="radio">
                    <span>Razsuti tovor</span>
                </label>
            </div>
            <div class="col m3 s8 offset-s2">
                <label>
                    <input name="tip_tovora" value="palete" type="radio">
                    <span>Standardne palete</span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="tab-izdelki">
            <div class="row grey lighten-3" style="border-radius: 10px; padding: 10px;">
                <div id="izdelki"></div>
                <div class="col s12 center-align">
                    <a id="dodaj" class="waves-effect waves-light btn" style="font-weight: bold;">Dodaj izdelek</a>
                </div>
            </div>
        </div>
        <div id="tab-tovor" style="display: none;">
            <div class="row">
                <div class="input-field col m3 offset-m3 s6">
                    <input id="volumen" type="number" min="1">
                    <label for="volumen">Volumen tovora v m<sup>3</sup></label>
                </div>
                <div class="input-field col m3 s6">
                    <input id="teza" type="number" min="1">
                    <label for="teza">Teža tovora v kg</label>
                </div>
            </div>
        </div>
        <div id="tab-palete" style="display: none;">
            <div class="row">
                <div class="input-field col m3 offset-m3 s6">
                    <input id="st_palet" type="number" min="1">
                    <label for="st_palet">Število palet</label>
                </div>
                <div class="input-field col m3 s6">
                    <input id="teza_palet" type="number" min="1">
                    <label for="teza_palet">Teža ene palete v kg</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m5 offset-m1 s12">
            <div class="input-field col s12">
                <input id="date" type="text" class="datepicker">
                <label for="date">Datum naložitve</label>
            </div>
        </div>
        <div class="col m5 s12">
            <div class="input-field col s12">
                <input id="time" type="text" class="timepicker">
                <label for="time">Čas naložitve</label>
            </div>
        </div>
    </div>
    <div class="row">
        <h5>Kraj naložitve</h5>
        <div class="input-field col m4 s8">
            <input id="n_ulica" type="text">
            <label for="n_ulica">Ulica</label>
        </div>
        <div class="input-field col m2 s4">
            <input id="n_hisna_stevilka" type="text">
            <label for="n_hisna_stevilka">Hišna številka</label>
        </div>

        <div class="input-field col m2 s4">
            <input id="n_postna_stevilka" type="number">
            <label for="n_postna_stevilka">Poštna številka</label>
        </div>
        <div class="input-field col m4 s8">
            <input id="n_kraj" type="text">
            <label for="n_kraj">Kraj</label>
        </div>
    </div>
    <div class="row">
        <h5>Kraj dostave</h5>
        <div class="input-field col m4 s8">
            <input id="d_ulica" type="text">
            <label for="d_ulica">Ulica</label>
        </div>
        <div class="input-field col m2 s4">
            <input id="d_hisna_stevilka" type="text">
            <label for="d_hisna_stevilka">Hišna številka</label>
        </div>

        <div class="input-field col m2 s4">
            <input id="d_postna_stevilka" type="number">
            <label for="d_postna_stevilka">Poštna številka</label>
        </div>
        <div class="input-field col m4 s8">
            <input id="d_kraj" type="text">
            <label for="d_kraj">Kraj</label>
        </div>
        <div class="col s12">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=slovenia&t=&z=7&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 100%;
                        width: 100%;
                    }

                    .gmap_canvas {
                        border-radius: 10px;
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 100%;
                    }
                </style>
            </div>
        </div>
        <div class="col s12" style="margin-top: 3rem;">
            <h6>Dodatne omejitve</h6>
            <div class="input-field col s6">
                <input id="cena" type="text" class="validate">
                <label for="cena">Maksimalna cena</label>
            </div>
            <div class="input-field col s6">
                <input id="prevoznik" type="text" class="validate">
                <label for="prevoznik">Prevoznik</label>
            </div>
            <div class="input-field col s6">
                <input id="letnik" type="text" class="validate">
                <label for="letnik">Minimalni letnik vozila</label>
            </div>
            <div class="input-field col s6">
                <select id="tip">
                    <option value="" disabled selected>Izberi</option>
                    <option value="kombi">Dostavni kombi</option>
                    <option value="tovornjak razsut tovor">Tovornjak za prevoz razsutega tovora</option>
                    <option value="tovornjak blago">Tovornjak za prevoz blaga</option>
                    <option value="izredni prevoz">Izredni prevoz</option>
                </select>
                <label>Tip vozila</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <a id="isci" class="waves-effect waves-light btn-large" style="font-weight: bold;">Išči
                ponudbe</a>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $('.datepicker').datepicker({
            firstDay: 1,
            format: "dd.mm.yyyy",
            minDate: new Date(),
            i18n: {
                months: ['Januar', 'Februar', 'Marec', 'April', 'Maj', 'Junij', 'Julij', 'August', 'September', 'Oktober', 'November', 'December'],
                monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                weekdays: ['Nedelja', 'Ponedeljek', 'Torek', 'Sreda', 'Četrtek', 'Petek', 'Sobota'],
                weekdaysShort: ['Ned', 'Pon', 'Tor', 'Sre', 'Čet', 'Pet', 'Sob'],
                weekdaysAbbrev: ['S', 'P', 'T', 'S', 'Č', 'P', 'S']
            }
        });
        $('.timepicker').timepicker({ twelveHour: false });
    });
</script>
<script src="/javascripts/search.js"></script>
{% endblock %}
