{% extends "base.html" %}

{% block title %}Vozila - carGo{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h3>Vozila</h3>
        </div>
    </div>
    <div class="row grey lighten-2" style="border-radius: 10px;">
        <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Iskanje</label>
        </div>
        <div class="col s12 grey lighten-3" style="min-height: 70vh; border-radius: 10px;">
            <div class="row" style="margin-top: 15px;">
                <div class="col s12 center-align">
                    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Dodaj vozilo</a>
                </div>
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Dodaj vozilo</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="model" type="text" class="validate" name="model">
                                <label for="model">Model</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="registerska" type="text" class="validate" name="registerska">
                                <label for="registerska">Registracijska številka</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="znamka" type="text" class="validate" name="znamka">
                                <label for="znamka">Znamka</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="letnik" type="text" class="validate" name="letnik">
                                <label for="letnik">Letnik</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="tip" name="tip">
                                    <option value="" disabled selected>Izberi</option>
                                    <option value="kombi">Kombi</option>
                                    <option value="tovornjak razsut tovor">Tovornjak za razsut tovor</option>
                                    <option value="tovornjak blago">Tovornjak za blago</option>
                                    <option value="izredni prevoz">Izredni prevoz</option>
                                </select>
                                <label>Tip vozila</label>
                            </div>
                            <div class="col s12">
                                <hr>
                            </div>
                            <div class="input-field col s6">
                                <input id="max_teza" type="text" class="validate" name="max_teza_tovora">
                                <label for="max_teza">Maksimalna teža tovora</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="potrdilo_izpravnosti" type="text" class="validate" name="potrdilo_izpravnosti">
                                <label for="potrdilo_izpravnosti">Cena na km</label>
                            </div>

                            <div id="tab-tovor">
                                <div class="input-field col s6">
                                    <input id="maks_volumen_tovora" type="text" class="validate" name="maks_volumen_tovora">
                                    <label for="maks_volumen_tovora">Volumen</label>
                                </div>
                            </div>

                            <div id="tab-palete">
                                <div class="input-field col s6">
                                    <input id="maks_st_palet" type="text" class="validate" name="maks_st_palet">
                                    <label for="maks_st_palet">Število palet</label>
                                </div>
                            </div>

                            <div id="tab-izdelki">
                                <div class="input-field col s6">
                                    <input id="maks_visina_tovora" type="text" class="validate" name="maks_visina_tovora">
                                    <label for="maks_visina_tovora">Višina tovora</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="maks_dolzina_tovora" type="text" class="validate" name="maks_dolzina_tovora">
                                    <label for="maks_dolzina_tovora">Dolžina tovora</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="maks_sirina_tovora" type="text" class="validate" name="maks_sirina_tovora">
                                    <label for="maks_sirina_tovora">Širina tovora</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="agree">Agree</a>
                    </div>
                </div>

                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <h4>Uredi vozilo</h4>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="model-uredi" type="text" class="validate" name="model">
                                <label for="model">Model</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="registerska-uredi" type="text" class="validate" name="registerska">
                                <label for="registerska">Registracijska številka</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="znamka-uredi" type="text" class="validate" name="znamka">
                                <label for="znamka">Znamka</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="letnik-uredi" type="text" class="validate" name="letnik">
                                <label for="letnik">Letnik</label>
                            </div>
                            <div class="input-field col s6">
                                <select id="tip-uredi" name="tip">
                                    <option value="" disabled selected>Izberi</option>
                                    <option value="kombi">Kombi</option>
                                    <option value="tovornjak razsut tovor">Tovornjak za razsut tovor</option>
                                    <option value="tovornjak blago">Tovornjak za blago</option>
                                    <option value="izredni prevoz">Izredni prevoz</option>
                                </select>
                                <label>Tip vozila</label>
                            </div>
                            <div class="col s12">
                                <hr>
                            </div>
                            <div class="input-field col s6">
                                <input id="max_teza-uredi" type="text" class="validate" name="max_teza_tovora">
                                <label for="max_teza">Maksimalna teža tovora</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="potrdilo_izpravnosti-uredi" type="text" class="validate" name="potrdilo_izpravnosti">
                                <label for="potrdilo_izpravnosti">Cena na km</label>
                            </div>

                            <div id="tab-tovor-urejanje">
                                <div class="input-field col s6">
                                    <input id="maks_volumen_tovora-uredi" type="text" class="validate" name="maks_volumen_tovora">
                                    <label for="maks_volumen_tovora">Volumen</label>
                                </div>
                            </div>

                            <div id="tab-palete-urejanje">
                                <div class="input-field col s6">
                                    <input id="maks_st_palet-uredi" type="text" class="validate" name="maks_st_palet">
                                    <label for="maks_st_palet">Število palet</label>
                                </div>
                            </div>

                            <div id="tab-izdelki-urejanje">
                                <div class="input-field col s6">
                                    <input id="maks_visina_tovora-uredi" type="text" class="validate" name="maks_visina_tovora">
                                    <label for="maks_visina_tovora">Višina tovora</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="maks_dolzina_tovora-uredi" type="text" class="validate" name="maks_dolzina_tovora">
                                    <label for="maks_dolzina_tovora">Dolžina tovora</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="maks_sirina_tovora-uredi" type="text" class="validate" name="maks_sirina_tovora">
                                    <label for="maks_sirina_tovora">Širina tovora</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="edit">Edit</a>
                    </div>
                </div>
            </div>
            <div id="vozila"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('.modal').modal();
        $('select').formSelect();
    });
</script>
<script src="/javascripts/vehicle.js"></script>
{% endblock %}
