html {
    font-family: 'Quicksand', 'Roboto';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #212121;
}

main {
    flex: 1 0 auto;
}

p {
    font-family: 'Roboto';
}

.btn-large {
    text-transform: none;
    border-radius: 50px;
}

.btn {
    text-transform: none;
    border-radius: 50px;
}

.nav-link {
    font-size: 24px;
    font-weight: bold;
}

.bottom-sidenav {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.sidenav {
    height: 100vh;
}

.normal-text {
    font-family: 'Roboto';
}
