html {
    font-family: 'Quicksand', 'Roboto';
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #212121;
}

main {
    flex: 1 0 auto;
}

p {
    font-family: 'Roboto';
}

nav {
    height: 8rem;
}

footer {
    margin-top: 50px;
}

nav .sidenav-trigger {
    margin: 40px 0 0 30px;
}

.nav-logo {
    height: 65px;
    margin: 30px 0 0 70px;
}

.nav-logo-mobile {
    height: 65px;
}

.brand-logo {
    height: inherit;
}

.user-view {
    padding-top: 32px;
}

.nav-left {
    height: inherit;
    margin-left: 18rem;
}

.nav-right {
    height: inherit;
    margin-right: 4rem;
}

.btn-large {
    text-transform: none;
    border-radius: 50px;
}

.btn {
    text-transform: none;
    border-radius: 50px;
}

.nav-link {
    font-size: 24px;
    font-weight: bold;
}

.bottom-sidenav {
    bottom: 0;
    width: 100%;
    position: absolute;
}

.sidenav {
    height: 100vh;
}

.normal-text {
    font-family: 'Roboto';
}

.map-marker {
    background-color: transparent;
}

.leaflet-control-container .leaflet-routing-container-hide {
    display: none;
}

.rounded {
    border-radius: 10px;
}

.tabs .tab a:focus.active {
    color: #26a69a;
    background-color: rgba(38, 166, 154, 0.2);
}

.tabs .indicator {
    background-color: #26a69a;
}

.card-image {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    width: 100%;
    height: 50vh;
}
